.nav-menu{
    text-align: right;
}
.nav-spacing{
    margin: 0 0 0 10px;
}
#image-link{
    text-decoration: none;
}
#AB{
    padding: 2px 20px; background:#ccc;
}
header{
    margin: 0 0 80px;
}
h1,h2{
    text-align: center;
}
#sperm{
    display: block; margin: 0 auto;
}
#moby{
    float:left; margin: 0 40px 0 0;
    height: 200px;
}
.Ish{
    font-style: italic; font-size: 20px;
}
#circ{
    font-style: normal; font-size: 24px; font-weight: bold;color: #ff0000;
}
a